@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);

/* basic reset */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* app */
html {
  height: 100%;
}

body {
  font-family: "Rounded Mplus 1c";
  font-size: calc(50% + 0.5vw);
  height: 100vh;
  margin: 0;
  background-image: url("../img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

a.menus {
  color: white;
  text-decoration: none;
  margin-right: 5px;
}

#sns-icons {
  position: absolute;
  left: 10px;
}

.django-app {
  height: 100%;
}

/* super basic grid structure */

#header {
  font-size: calc(115% + 0.5vw);
  position: fixed;
  top: 0px;
  background: black;
  color: white;
  width: 100%;
  z-index: 4;
}

#menu {
  margin-left: 10px;
}

footer {
  position: fixed;
  bottom: 0;
  text-align: right;
  width: 100%;
  background: black;
  color: white;
  z-index: 4;
}

.photobox {
  text-align: center;
  width: 100%;
}

#container {
  margin-top: 80px;
  width: 100%;
  height: 100%;
}

#common_overlay {
  margin-top: 40px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  color: white;
}

div.imagebox {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 0;
  margin: 10px;
}

div.imagebox img {
  width: 90%;
  max-width: 90%;
  height: auto;
}

span.imagetags a {
  position: absolute;
  bottom: 0;
  color: white;
  background: #35a7f8;
  padding: 0 2px;
  height: 20px;
}

/* indexのCSS　*/

#index_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.56);
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
}

.low-box {
  margin: 20px;
}

/* aboutのCSS */
.twobox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.leftbox {
  width: calc(40% - 10px);
}
.rightbox {
  width: calc(60% - 10px);
}

img#suzukitomo {
  width: 80%;
  max-width: 80%;
  height: auto;
}
@media screen and (max-width: 479px) {
  .leftbox .rightbox {
    width: 100%;
  }
  .twobox {
    display: block;
  }
}

.photo {
  border-radius: 10px;
}

/* worksのCSS */
.worksbox {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 30px;
}

div.work {
  width: calc(33.3% - 10px);
  height: calc(33.3% - 10px); /*　高さ固定にしたい */
  margin: 5px;
  background-color: #ffffff;
  border: 1px, #4b4b4b;
  color: #4b4b4b;
  border-radius: 10px;
}
div.work h2 {
  margin: 5px;
  margin-left: 10px;
}
@media screen and (max-width: 479px) {
  div.work {
    width: 70%;
  }
  .worksbox {
    display: block;
  }
}
