<!DOCTYPE html> {% load static %}
<html>
  <head
    prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/websaite#"
  >
    <meta property="og:url" content="/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:title"
      content="アプリケーションエンジニアを目指して日々奮闘中の、脱脂綿こと鈴木 智也のポートフォリオです。"
    />
    <meta property="og:site_name" content="Tomoya Suzuki's Portfolio" />
    <meta property="og:image" content="{% static 'img/ogp_top.png' %}" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="アプリケーションエンジニアを目指して日々奮闘中の、脱脂綿こと鈴木 智也のポートフォリオです。作成したアプリや経歴などを紹介しています。"
    />
    <link
      rel="icon"
      href="{% static 'img/dassimen.png' %}"
      sizes="16x16"
      type="image/png"
    />
    <link
      rel="icon"
      href="{% static 'img/dassimen.png' %}"
      sizes="32x32"
      type="image/png"
    />
    <link
      rel="icon"
      href="{% static 'img/dassimen.png' %}"
      sizes="48x48"
      type="image/png"
    />
    <link
      rel="icon"
      href="{% static 'img/dassimen.png' %}"
      sizes="62x62"
      type="image/png"
    />

    <!-- ビューポートの設定 -->
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Tomoya Suzuki's Portfolio</title>

    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <div django-app="Portfolio" class="django-app">
      <header>
        <div id="site_top">
          <a href="/" class="menus">Tomoya Suzuki's Portfolio</a>
        </div>
        <div id="menu">
          <a href="/about" class="menus">About</a>
          <a
            href="https://dassimen-engineer.hatenablog.com/"
            target="_blank"
            class="menus"
            >Blog</a
          >
          <a href="/works" class="menus">Works</a>
          <!--<a href="/appendix" class="menus">Appendix</a> 作成中のためコメントアウト-->
        </div>
      </header>

      {% block content %}{% endblock %}

      <footer>
        <p id="sns-icons">○ △ □ バツ</p>
        <p id="copyright">© 2019 Tomoya Suzuki</p>
      </footer>
    </div>
  </body>
</html>
