{% load static %} <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Tomoya Suzuki's Portfolio</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
      integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      Atype="text/css"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
  </head>
  <body>
    <div django-app="Portfolio" class="django-app">
      <div id="header">
        <div><a href="/">Tomoya Suzuki's Portfolio</a></div>
        <div id="sns-icons">○ △ □ バツ</div>
        <div id="menu">
          <span class="menus"><a href="/about">About</a></span>
          <span class="menus"
            ><a href="https://dassimen-engineer.hatenablog.com/" target="_blank"
              >Blog</a
            ></span
          >
          <span class="menus"><a href="/works">Works</a></span>
          <span class="menus"><a href="/appendix">Appendix</a></span>
        </div>
      </div>

      {% block content %}{% endblock %}

      <footer><p>© 2019 Tomoya Suzuki</p></footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script
      async
      src="https://platform.twitter.com/widgets.js"
      charset="utf-8"
    ></script>
  </body>
</html>
