{% extends 'myblog/base.html' %}
{% block content %}
{% load static %}


<div id="container">
    <div id="dassimen">
        <img src="{% static 'img/dassimen.png' %}" alt="脱脂綿のアイコン" width="350px" height="350px">
    </div>
    <div id="modal-overlay">
        <div id="modal-low-box">
            <h1 class="modal-low">鈴木智也の憲法</h1>
            <p class="modal-low">私は社会人生活を通して、以下の結論に至った。</p>
            <p class="modal-low">やるべきことより、<span class="strong">やりたいこと</span>を。</p>
            <p class="modal-low">つまらないことより、<span class="strong">楽しいこと</span>を。</p>
            <p class="modal-low">自己犠牲より、<span class=strong>チームでの解決</span>を。</p>
            <p class="modal-low">今後私は左記の事柄への価値を一切認めず、</p>
            <p class="modal-low">右記の事柄への価値を置く。</p>
        </div>
    </div>
</div>


<script src="{% static 'js/index.js' %}"></script>
{% endblock %}