{% extends 'myblog/base.html' %} {% block content %} {% load static %}

<div id="common_overlay">
  <div class="first">
    <div class="twobox">
      <div class="leftbox"><h1>Works</h1></div>
    </div>
  </div>
  <div class="second">
    <div class="worksbox">
      {% for work in works %}
      <div class="work">
        <h2>{{ work.title }}</h2>
        <div class="imagebox">
          {% if work.category.name == "Programming" %}
          <img alt="プログラミング" src="{% static 'img/programming.png' %}" />
          {% elif work.category.name == "Presentation" %}
          <img alt="登壇" src="{% static 'img/presen.png' %}" />
          {% endif %}
          <span class="imagetags">
            {% if work.link %} {{ work.link2html | safe }} {% endif %}
          </span>
        </div>
        <div>{{ work.content2html | safe }}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
